<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftyJSON-LG.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EB627E881D863ABB003D3730</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB627E9C1D863ABC003D3730</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB627EA71D863ABC003D3730</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
